body{
  background-color: #282c34;
}
footer{
  padding: 1rem;
}
footer p{
  font-size: 14pt;
}
h1, h2{
  color: #ffffff;
  font-size: 20pt;
  margin: 0;
}
h2{
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 17pt;
}
h3{
  color: #ffffff;
  font-size: 15pt;
  margin: 0;
  margin: 0 0 .8rem 0;
}
p{
  line-height: 50px;
  color: #ffffff;
}
a, a:hover{
  color: #ffffff;
  text-decoration: none;
}
ul{
  line-height: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
code{
  display: block;
}
.App{
  text-align: center;
  padding: 2rem 1rem 0 1rem;
}
.circleApple{
  width: 0.6rem;
  height: 0.6rem;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 3px;
}
.myJobs ul li a, .myJobs ul li a:hover{
  color: #00ff1c;
}
.red{background: #ff4f4f;}
.yellow{background: #ffb200;left: 16px;}
.green{background: #00cf00;left: 29px;}
.imgLinkedin{
  width: 25px;
}
.imgMain{
  width: 90px;
  margin: 0 0 1.2rem 0;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.myJobs{
  position: relative;
  border: 2px solid #ffffff;
  border-top: 20px solid #ffffff;
  width: 19rem;
  margin: 0 auto 2rem auto;
  background: #000000;
  padding: 1.5rem 2rem 2rem 2rem;
  border-radius: .3rem;
}
.myTechs{
  width: 20rem;
  margin: 0 auto;
}
.myTechs h3{
  margin: 0 0 .8rem 0;
  font-size: 14pt;
}
.myTechs ul li{
  display: inline-block;
  color: #ffffff;
  border-radius: .2rem;
  padding: 0 .5rem;
  margin-right: .2rem;
  margin-bottom: .2rem;
  font-size: 10pt;
}
.color-one{
  background-color: #BD4FE1;
}
.color-two{
  background-color: #468847;
}
.color-three{
  background-color: #3a87ad;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}