body{
  background-color: #282c34;
}
footer{
  padding: 1rem;
}
h1{
  font-size: 20pt;
}
h2{
  color: #ffffff;
  margin-bottom: 0.5rem;
}
p{
  line-height: 50px;
  color: #ffffff;
}
a{
  color: #ffffff;
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
code{
  display: block;
}
.App {
  text-align: center;
  padding-top: 10%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.imgLinkedin{
  width: 25px;
}
.imgMain{
  width: 90px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}